.header {
  height: var(--ant-control-height-lg);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.menu {
  justify-content: center;
  height: 100%;
  align-items: center;
}

.menuItem {
  display: flex !important;
  justify-content: center;
  height: 100%;
  align-items: center;
} 